version: '3'

services:
  app:
    # o "." no build indica que ser치 gerado do arquivo Dockerfile que esta no mesmo diret칩rio
    build: .
    # ap칩s o container terminar de subir, rodar치 os comandos do arquivo entrypoint
    entrypoint: dockerize -wait tcp://db:3306 -timeout 40s ./.docker/entrypoint.sh
    ports:
      - 3000:3000
    volumes:
      - .:/home/node/app
    depends_on: 
      - db
    # extra_hosts: 
    #   - "host.docker.internal:172.17.0.1"

  db:
    build: ./.docker/mysql
    restart: always
    tty: true
    volumes:
      - ./.docker/dbdata:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=fin
      - MYSQL_ROOT_PASSWORD=root